.authContainDiv {
    height: 100vh;
    width: 80%;
    margin: auto;
}
.welcomeContainer,
.loginContainer,
.regContainer,
.otpContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wlcNoteDiv {
    width: 434px;
    background: var(--primary);
    border-radius: 50px;
    padding: 5vh 2vw;
}
.wlcNoteLogo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #ffffff;
}
p.wlcNoteLogo {
    margin-top: 0;
}
.wlcNoteTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.015em;
    color: #ffffff;
}
.wlcNoteTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.82);
}
.wlcNoteFooterTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 38vh;
}
p.wlcNoteFooterTxt {
    margin-bottom: 0;
}
.authTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: -0.015em;
    color: var(--primary);
    margin-bottom: 0;
    margin-top: 0;
}
.authTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #1e1e1e;
}
#user {
    border: 1px solid var(--primary);
    border-radius: 100px;
    /* text-align: center; */
}
#regEmailVerifier input#user::placeholder {
    text-align: center;
}
#loginForm input#user {
    padding-left: 1vw;
}
#password {
    border: 1px solid var(--primary);
    border-radius: 100px;
    padding-left: 1vw;
}
#loginBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--primary);
    border-radius: 6px;
    /* margin-left: 1vw; */
    width: 98%;
    /* height: 6vh; */
    margin-left: 1vw;
    margin-top: 2vh;
}
.resetPass {
    font-size: 14px;
    font-weight: 500;
}

/* Login Auth Section-2 */
.loginSocialMedTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.loginSignUpInnerDiv {
    display: flex;
    margin-top: 3vh;
    justify-content: center;
}

.loginSignUpTxt {
    margin-right: 0.5vw;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.5);
}

.loginSignUpLink {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: var(--primary);
}

/* Sign up page section */
#signupTitle,
#signupLname,
#signupFName,
#signupEmail,
#signupPhone,
#signupCountry,
#signupGender,
#signupState,
#signupCity,
#signupPass,
#signCpass,
#signupProfession,
#signupZipcode {
    border: 1px solid var(--primary);
    border-radius: 100px;
    padding-left: 9px;
    letter-spacing: -0.015em;
}
#signupBtn {
    background: var(--primary);
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}
.sm_mg {
    margin: 7px 0;
}

/* OTP Page Section */
.otpSocialMedHandLink {
    height: 40px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
}
.otpInnerDiv {
    padding-bottom: 6vh;
}
.otpSocialMedTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
}
.otpSocialMedIcon {
    color: var(--primary);
    line-height: 40px;
}
.proEmailMsg {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 9px;
    margin-bottom: 13px;
}
/* Get Started Section */
.getStartLoginSignUpInnerDiv {
    display: flex;
}

.getStartBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--primary);
    border-radius: 10px;
    width: 100%;
    /* height: 6vh; */
    /* margin-left: 1vw; */
}
.btn.getStartBtn:hover,
.btn.getStartBtn:active {
    background-color: var(--black);
    color: var(--white);
}
.btn.getStartBtn:visited {
    background-color: var(--primary);
    color: var(--white);
}
.loginSocialMedInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-layer {
    border-color: var(--white) !important;
}
.website.spinner-layer {
    border-color: var(--primary) !important;
}

/* OTP Email Section */
#otpEmailBtn {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    background: var(--primary);
    border-radius: 10px;
    width: 37%;
    height: 6vh;
    margin-left: 0.6vw;
    margin-top: 3vh;
}
.otpEmailAuthTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #1e1e1e;
    margin-bottom: 3vh;
}
#otpEmailDiv {
    margin-left: 0.7vw;
}

.helpModalCloseBtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.helpModalTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: var(--primary);
}
.helpModalTxts {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* Media Query for Small Devices */
@media screen and (max-width: 640px) {
    .authContainDiv {
        width: 90%;
    }
    .digit-group {
        display: flex;
    }
    .row .col.regContainer {
        display: block;
        padding-top: 7vh;
    }
    .row .col.regContainer .authHeadingContainer {
        margin-bottom: 5vh;
    }

    #reistrationForm .row .col.input-field {
        padding: 0;
    }

    #signupTitle,
    #signupLname,
    #signupFName,
    #signupEmail,
    #signupPhone,
    #signupCountry,
    #signupGender,
    #signupState,
    #signupCity,
    #signupPass,
    #signCpass,
    #signupProfession,
    #signupZipcode {
        padding-left: 0px;
        text-align: center;
    }
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=tel]:not(.browser-default) {
        margin-bottom: 0;
    }
    #reistrationForm .input-field {
        margin-bottom: 1.2rem;
    }
}