:root {
    --primary: #6750a4;
    --secondary: #6750a4;
    --black: #000000;
    --white: #ffffff;

    --component: rgba(0, 0, 0, 0.5);
}
a.active {
    border-bottom: 4px solid var(--primary);
    padding: 0px;
}

nav {
    background-color: var(--white);
}
#nav-mobile.section {
    padding-top: 1rem;
}
.headerNoSideNav, .extHeaderNoSideNav {
    display: none;
}
.section {
    /* padding-top: 1rem !important; */
    /* padding-bottom: 1rem !important; */
}
/* .navbarWrap {
    width: 90%;
    margin: 0 auto;
} */
a.brand-logo {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}
a.physiTempNavLinks {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    position: relative;
    bottom: 2vh;
}
a.physiTempNavLinks:hover {
    background-color: white;
    border-bottom: 4px solid rgba(113, 96, 187, 0.5);
    padding: 0;
    border-left: none;
    margin: 0 0.96vw;
}

a.physiTempNavLinks.active {
    padding: 0;
    border-left: none;
    margin: 0 0.9vw;
    font-weight: 600;
    font-size: 1.1rem;
}
a.physiTempContactBtn {
    background-color: var(--primary);
    padding: 2.5vh 1.5vw;
    margin-top: 10px;
    line-height: 1px;
    font-family: "Montserrat", sans-serif;
    color: var(--white);
    position: relative;
    bottom: 2vh;
    right: -2vw;
}
a.physiTempContactBtn:hover {
    background-color: var(--black);
    color: var(--primary);
    border-left: var(--primary);
    padding-left: 1.5vw;
}
a.physiTempContactBtn.active {
    padding-left: 1.5vw;
    border-left: var(--primary);
}
#physiPortPageLogo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
    margin-top: 3vh;
}
.text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    margin-left: 0.7vw;
}

.physiTempContactBtn {
    border-radius: 6px;
    /* width: 130px; */
    height: 40px;
    margin-top: 12px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background: var(--primary);
    color: #ffffff;
    border: none;
}

.physiTempContactBtn:hover {
    background: #ffffff;
    color: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profileImgContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100px;
}
.profileImg {
    background: var(--primary);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: rotate(-3.7deg);
    width: 427.62px;
    height: 479.96px;
    /* position: absolute;
    top: 20vh;
    right: 12vw; */
}

.physiRightImg {
    position: absolute;
    left: 33px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(1.5deg);
}

.physiContainerDiv#services {
    width: 84.5%;
    margin: auto;
    /* padding-top: 25vh; */
}

.physiContainerDiv#about {
    width: 84.5%;
    margin: auto;
    padding-top: 36vh;
}

.physiTempNameTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0.2vw;
}

.physiTempName {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: var(--primary);
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.physiSummaryTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
}

.physiTempBtn {
    background: transparent;
    border: 1px solid var(--primary);
    box-shadow: none;
    font-family: "Montserrat", sans-serif;
    border-radius: 100px;
    margin-top: 3vh;
    text-decoration: none;
    color: var(--primary);
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    /* background-color: var(--black) !important; */
    font-size: 14px;
    outline: 0;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.servicesMainTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0;
}

.servicesWhatIdo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--primary);
    text-align: center;
    margin: 0 0 10vh 0;
}

.servicesIconsDiv {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* left: 243px;
    top: 940px; */
    border-radius: 50%;
    margin: 0 auto;
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.servcesHeading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}

.servicesTitle,
.servcesHeading.forSurgeon,
.title,
.feedsMainTitle.forSurgeon,
.greenBg {
    display: none;
}

.servicesTxt {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
}

.servicesIcons {
    color: #ffffff;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2.3rem;
}

.servicesIcons1 {
    color: #ffffff;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}

.servicesIcons2 {
    color: #ffffff;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}

.physiExpContainerDiv,
.feedsContainDiv {
    width: 84.5%;
    margin: auto;
}

.expMainTitle,
.feedsTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 9vh 0 0 0;
}

.expMainTxt,
.feeds {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--primary);
    text-align: center;
    margin: 0 0 5vh 0;
}
.feeds {
    color: var(--white);
    margin-bottom: 5vh;
}
.feedsContainDiv {
    margin-top: 5vh;
}
.feedsHeading {
    color: var(--white);
}
.experienceImgContainDiv .col.s12.m12.l2 {
    width: 16.6666666667%;
    margin-left: auto;
}
.surgeonBannerImgDiv {
    width: 83.3333333333%;
    margin-left: auto;
    float: right;
}

.experiences {
    background: var(--primary);
    border-radius: 10px;
    padding: 3vh 1.5vw;
    margin-right: 0.1vw !important;
}

.experienceTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin: 0 0 1vh 0;
}

.experienceTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.875rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
    margin: 0 0 1.5vh 0;
}

.expLeftBarInnerDiv {
    border-bottom: 1px solid rgba(217, 217, 217, 0.65);
}

.expLeftBarInnerDiv:last-child {
    border-bottom: none;
}

.expLeftBarInnerDiv .experience {
    padding: 5.7vh 0 3vh;
}

.bannerImg {
    width: 100%;
    height: 73.5vh;
    border-radius: 10px;
}

#feedsTwitterIcon {
    color: var(--primary);
    font-size: 1.3rem;
}

.feedsMainTxt {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: var(--primary);
    text-align: center;
    margin: 0 0 1vh 0;
}

.feedsCard {
    background: var(--primary);
    border: 1px solid #938f99;
    border-radius: 12px;
    padding: 2vh 0vw;
}

.feedsProDiv {
    background: #d0bcff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}

.feedsProImg {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
}

.feedsCardHeader {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #e6e1e5;
}

.feedsCardSubhead {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #e6e1e5;
}

#feedsCardImg {
    width: 100%;
}

#feedsCardRowDiv {
    margin-bottom: 0;
}

#feedsCardIcon {
    color: #cac4d0;
    position: relative;
    right: 1vw;
}

.feedsCardTxt1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #cac4d0;
    width: 70%;
    margin-left: 1vw;
    margin-top: 5vh;
}

.feedsCardTxt {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #e6e1e5;
    margin-left: 1vw;
}

.feedsCardTitle {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #e6e1e5;
    margin-left: 1vw;
}

#feedsCardBtn {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 100px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: relative;
    left: 22vw;
    text-transform: capitalize;
    margin-top: 3vh;
}
.feedsFacebookIcon {
    color: var(--white);
    font-size: 1.2rem;
}
/* Testimonials Secion */

#testiMapImg {
    background-image: url("../media/img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
.testimonialDiv {
    background: var(--primary);
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
    color: #fff;
    /* margin-top: -10px; */
    text-align: center;
    margin-bottom: 10px;
}
.tempOneAddTestiLname {
    border: 1px solid var(--primary);
}
.reviewProEditIconDiv {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: inline-block;
    position: relative;
    top: 1.2vh;
    right: 1.2vw;
    color: #fff;
}
.material-icons.setProEditIcon {
    color: var(--white);
    font-size: 1.3rem;
    margin: 0.3vh 0 0 0.1vw;
}
.contactMainDiv .col.s12.m7.l7 {
    width: 58%;
    margin-left: 21%;
    margin-right: 21%;
}
.singleReviewName {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.singleReviewComment {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.7);
}
.testiProImg {
    border-radius: 50%;
    /* position: relative;
    left: 10vw;
    top: 2.5vh; */
    height: 57px !important;
}
#testiSecondImgRowOneDiv {
    position: relative;
    bottom: 9vh;
}
#testiSecondImgRowTwoDiv {
    position: relative;
    bottom: 4vh;
}
#testiSecondImgRowThreeDiv {
    position: relative;
    top: 7vh;
}

#testiLname,
#testiFname,
#testiEmail,
#testiPhone {
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 0 1.5vw;
    width: 90%;
}

#testiPhone::placeholder {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}

#testiTextarea1 {
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 100.5%;
    height: 22vh;
    padding: 3vh 1.5vw;
}

#testiTextarea1::placeholder {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}

#testiContactFormTitleDiv {
    margin-bottom: 5vh;
}

.testiContactBtn {
    background: var(--primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 97.4%;
    margin-left: 0.7vw;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    height: 5vh;
}

#testiContactBtnIcon {
    color: #938f99;
    position: relative;
    top: 0.5vh;
}

#tempPublishBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: #7746ff;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 4vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

#tempExitBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 2.77vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}

#tempPubExtDiv {
    position: fixed;
    right: 0;
    bottom: 40vh;
}

.tempOneRevDiv {
    padding: 0;
}

/* Added stylings for testimonial review */
.testiProImg {
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 1vh;

}
.testiMapDiv {
    background: #6750A4;
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
}
.testiMapProName {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: #FFFFFF;
}
.testiMapTxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.tempOneRevTime {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5vh;
}

@media screen and (max-width: 992px) and (min-width: 640px) {
    #testiMapImg {
        height: auto;
    }
    .profileImg {
        width: 317.62px;
        height: 370.96px;
        /* top: 51vh; */
        right: 8vw;
    }
    .physiRightImg {
        left: 7px;
        top: 7px;
    }
    .physiContainerDiv#about {
        padding-top: 0px;
    }

    #physiPortPageLogo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: #000000;
        margin-top: 3vh;
        position: absolute;
        left: 45vw;
    }
    a.physiTempNavLinks {
        font-family: "Montserrat", sans-serif;
        color: var(--white) !important;
        position: relative;
        bottom: 2vh;
    }
    a.physiTempNavLinks:hover {
        background-color: white;
        border-bottom: 4px solid rgba(113, 96, 187, 0.5);
        padding: 0 0 0 4vw;
        border-left: none;
        margin: 0 0.96vw;
    }
    a.physiTempNavLinks.active {
        padding: 0 0 0 4vw;
        border-left: none;
        margin: 0 !important;
        font-weight: 600;
        font-size: 1.1rem;
    }
    a.physiTempContactBtn {
        width: 50%;
        background-color: var(--white);
        padding: 0vh 0vw;
        margin-top: 0px;
        margin-left: 3vw;
        font-family: "Montserrat", sans-serif;
        color: var(--primary) !important;
        position: relative;
        bottom: 0vh;
        right: 0vw;
    }
    a.physiTempContactBtn:hover {
        background-color: var(--white) !important;
        color: var(--primary) !important;
    }
    a.physiTempContactBtn.active {
        background-color: var(--white) !important;
        color: var(--primary) !important;
    }
    .physiSidenavTempName {
        font-size: 1.5rem !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: var(--white) !important;
        /* text-align: center; */
    }
    .experiences {
        background: var(--primary);
        border-radius: 10px;
        padding: 0.5vh 0vw;
        /* width: 18vw; */
        margin-right: 0.1vw !important;
    }
    .contactContainDiv {
        width: 100%;
        margin: auto;
    }
    .contactMainDiv .col.s12.m7.l7 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Added stylings for testimonial review */
    #testiSecondImgRowOneDiv {
        position: relative;
        bottom: 0vh;
    }

    #testiSecondImgRowTwoDiv {
        position: relative;
        bottom: 0vh;
    }

    #testiSecondImgRowThreeDiv {
        position: relative;
        top: 0vh;
    }
    .row .testimonialRw .col.m6 {
        width: 50%;
        min-width: 50%;
    }
    .testimonialRw {
        display: flex !important;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
        overflow-y: hidden;
    }
    .testimonialRw::-webkit-scrollbar {
        height: 0.5vh;
    }

    /* Added stylings for HeaderComponent */
    nav.navMain {
        display: none;
    }
    nav.headerNoSideNav {
        display: block;
        /* margin-bottom: 1vh; */
    }
    nav.headerNoSideNav .sideNavBrandLogo {
        margin-left: 0;
    }
    ul.extHeaderNoSideNav {
        display: flex;
        justify-content: center;
        background-color: #F6F3F3;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 2vw;
    }
    ul.extHeaderNoSideNav li {
        margin: 0 2.1vw;
    }
    ul.extHeaderNoSideNav li a {
        color: var(--black);
        font-size: 0.9rem;
    }

    /* Added stylings on AboutMe Component */
    .row .col.profileImgContainer {
        display: block;
        padding: 0;
        top: 3vh;
        left: 6vw;
    }

    /* Added some stylings on ExperienceComponent */
    .experienceImgContainDiv .col.s12.m12.l2,
    .surgeonBannerImgDiv {
        width: 100%;
        /* margin-left: auto; */
    }
    img.bannerImg {
        height: auto !important;
        width: 100%;
        border-radius: 0;
    }
    .experiences {
        background: var(--primary);
        border-radius: 0px;
        padding: 0;
        margin-right: -0.75rem !important;
        display: flex;
    }
    .expLeftBarInnerDiv:nth-child(3),
    .expLeftBarInnerDiv:nth-child(2) {
        border-bottom: none;
        border-right: 1px solid rgba(217, 217, 217, 0.65);
    }
    .expLeftBarInnerDiv:first-child {
        border-right: 1px solid rgba(217, 217, 217, 0.65);
    }
    .expLeftBarInnerDiv .experience {
        padding: 1vh 0;
    }
    p.experienceTitle {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
    }
    p.experienceTxt {
        margin-bottom: 0;
        font-size: 0.8rem;
    }

    /* Added some stylings on Feeds */
    #feeds {
        background-color: unset;
    }

    .feeds {
        background-color: var(--primary);
    }
}
@media screen and (max-width: 640px) {
    nav.navMain {
        display: none;
    }
    nav.headerNoSideNav {
        display: block;
        /* margin-bottom: 1vh; */
    }
    nav.headerNoSideNav .sideNavBrandLogo {
        margin-left: 0;
    }
    ul.extHeaderNoSideNav {
        display: flex;
        background-color: #F6F3F3;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 2vw;
        /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
    }
    ul.extHeaderNoSideNav li {
        margin: 0 2.1vw;
    }
    ul.extHeaderNoSideNav li a{
        color: var(--black);
        font-size: 0.9rem;
    }
    .row.about {
        display: flex;
        flex-direction: column;
    }
    .section.physiContainerDiv#about {
        padding-top: 0vh;
        width: 100%;
        margin: 0;
    }
    .profileDesc {
        order: 2;
    }
    .profileImgContainer {
        order: 1;
    }
    /* #templateAbout { } */
    .row .col.profileImgContainer {
        display: block;
        padding: 0;
        top: 0;
    }
    /* #afterAboutWrapper {} */
    .servicesRw {
        display: flex !important;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
        overflow-y: hidden;
    }
    .servicesIconsDiv {
        width: 35px;
        height: 35px;
    }
    .servicesIcons1 {
        font-size: 1rem;
    }
    .row .servicesRw .col.s12 {
        width: 100%;
        min-width: 100%;
    }
    .servicesRw::-webkit-scrollbar {
        height: 0.5vh;
    }
    #testiMapImg {
        height: auto;
    }
    .contactMainDiv .col.s12.m7.l7 {
        width: 100%;
        margin-left: auto;
    }
    .experienceImgContainDiv .col.s12.m12.l2,
    .surgeonBannerImgDiv {
        width: 100%;
        /* margin-left: auto; */
    }
    img.bannerImg {
        height: auto !important;
        width: 100%;
        border-radius: 0;
    }
    .hide-on-large-only.white {
        margin-bottom: 55vh;
    }
    .physiRightImg {
        position: unset !important;
        transform: rotate(0deg);
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    }
    .profileImg {
        top: 12vh !important;
        right: 2.5vw !important;
        width: 100%;
        height: auto;
        transform: rotate(0deg);
        background: none;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        border-radius: 0px;
    }
    img.physiRightImg{
        border-radius: 0;
    }
    .contactContainDiv {
        width: 90%;
        margin: auto;
    }
    #testiLname,
    #testiFname,
    #testiEmail,
    #testiPhone {
        padding: 0;
        width: 100%;
    }
    .physiContainerDiv#services {
        padding-top: 7vh;
    }
    .physiTempName {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 2rem;
        line-height: 35px;
        letter-spacing: 0.1px;
        color: var(--primary);
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .feedsMainTxt {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 1.7rem !important;
        line-height: 44px;
        color: var(--primary);
        text-align: center;
        margin: 0 0 1vh 0;
    }
    .expMainTxt,
    .feedsHeading,
    .servicesWhatIdo {
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 1.8rem;
        line-height: 44px;
        color: var(--primary);
        text-align: center;
        margin: 0 0 5vh 0;
    }
        
    .expLeftBarInnerDiv:nth-child(3), .expLeftBarInnerDiv:nth-child(2) {
        border-bottom: none;
        border-right: 1px solid rgba(217, 217, 217, 0.65);
    }
    .expLeftBarInnerDiv:first-child {
        border-right: 1px solid rgba(217, 217, 217, 0.65);
    }
    .experiences {
        background: var(--primary);
        border-radius: 0px;
        padding: 0;
        margin-right: -0.75rem !important;
    }
    .expLeftBarInnerDiv .experience {
        padding: 1vh 0;
    }
    p.experienceTitle {
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0;
    }
    
    p.experienceTxt {
        margin-bottom: 0;
        font-size: 0.6rem;
    }
    #feeds {
        background-color: unset;
    }
    .feeds {
        background-color: var(--primary);
    }
    .feedsFacebookIcon {
        color: var(--white);
    }
    .facebookFeedsIcon {
        margin: 1vh 0 1.5vh 0;
    }
    .physiExpContainerDiv,
    .feedsContainDiv {
        width: 99%;
        margin: auto;
    }
    #physiPortPageLogo {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 1.25rem;
        color: #000000;
        margin-top: 3vh;
        margin-left: 13vw;
    }
    a.physiTempNavLinks {
        font-family: "Montserrat", sans-serif;
        color: var(--white) !important;
        position: relative;
        bottom: 2vh;
    }
    a.physiTempNavLinks:hover {
        background-color: white;
        border-bottom: 4px solid rgba(113, 96, 187, 0.5);
        padding: 0 0 0 7.5vw;
        border-left: none;
        margin: 0 0.96vw;
    }
    a.physiTempNavLinks.active {
        padding: 0 0 0 7.5vw;
        border-left: none;
        margin: 0 !important;
        font-weight: 600;
        font-size: 1.1rem;
    }
    a.physiTempContactBtn {
        width: 50%;
        background-color: var(--white);
        padding: 0vh 0vw;
        margin-top: 0px;
        margin-left: 7vw;
        font-family: "Montserrat", sans-serif;
        color: var(--primary) !important;
        position: relative;
        bottom: 0vh;
        right: 0vw;
    }
    a.physiTempContactBtn:hover {
        background-color: var(--white) !important;
        color: var(--primary) !important;
    }
    a.physiTempContactBtn.active {
        background-color: var(--white) !important;
        color: var(--primary) !important;
    }
    .physiSidenavTempName {
        font-size: 1.5rem !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: var(--white) !important;
        /* text-align: center; */
    }


    /* Added stylings for testimonial review */
    .testiMapDiv:first-child {
        background: #6750A4;
        box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
        padding: 1vh 2vw;
        margin-bottom: 9vh;
    }
    #testiSecondImgRowOneDiv {
        position: relative;
        bottom: 0vh;
    }
    #testiSecondImgRowTwoDiv {
        position: relative;
        bottom: 0vh;
    }
    #testiSecondImgRowThreeDiv {
        position: relative;
        top: 0vh;
    }
    .testimonialRw {
        display: flex !important;
        flex-direction: row;
        overflow: scroll;
        width: 100%;
        overflow-y: hidden;
    }
    .row .testimonialRw .col.s12 {
        width: 100%;
        min-width: 100%;
    }
    .testimonialRw::-webkit-scrollbar {
        height: 0.5vh;
    }
}
