:root {
    --primary: #46166B;
    --secondary: #46166B;
    --black: #000000;
    --white: #ffffff;
    --gray: #a4a2a2;
    --component: rgba(0, 0, 0, 0.5);
}

/* Media Query for Medium Devices */
@media screen and (max-width: 992px) and (min-width: 640px) {
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/setupWeb/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 22.5vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 3vh;
        color: var(--black);
    }

    /* Prev/Next Button */
    .skipDiv {
        display: flex;
        justify-content: end;
        margin-right: 4vw;
        margin-top: 5vh;
    }
    button.skipBtn {
        padding: 0 0.5vw;
        border-radius: 50px;
        background-color: transparent;
    }
    .skipTxt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 0 2vw;
        position: relative;
        top: 0.5vh;
    }

    /* Form Styling */
    form.formContain {
        width: 60%;
        margin: auto;
    }

    input[type=text]:not(.browser-default) {
        border-bottom: 2.5px solid var(--primary);
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        height: 2vh;
        padding: 0 1vw;
    }

    [type="radio"]:not(:checked)+span,
    [type="radio"]:checked+span {
        position: relative;
        padding-left: 29px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: var(--black);
    }

    [type="radio"].with-gap:checked+span:after {
        background-color: var(--black);
    }

    [type="radio"]:not(:checked)+span:before,
    [type="radio"]:not(:checked)+span:after,
    [type="radio"].with-gap:checked+span:after,
    [type="radio"]:checked+span:after,
    [type="radio"].with-gap:checked+span:before,
    [type="radio"].with-gap:checked+span:after {
        border: 2px solid var(--black);
    }

    label.radioBtnLabel {
        margin-right: 8vw;
    }
    .file-field.input-field.col {
        margin: 0;
    }
    .milestoneCongratMsg {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        color: #03915C;
        margin-bottom: 0;
    }
    a.btn.viewWebBtn {
        background: #524988;
        padding: 20px 24px;
        line-height: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    .viewWebBtnDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 5vh;
    }

    /* Confirm Image Section */
    .proImgDiv {
        width: 36%;
        height: 35vh;
        border: 9px solid #d9d9d9;
        margin: 2vh auto;
    }
    .proImg {
        width: 100%;
        height: 100%;
    }
    .proImgBtnContainDiv {
        display: flex;
        justify-content: space-between;
        width: 35.5%;
        margin: 2vh auto;
    }
    .proImgYesBtn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        color: var(--black);
        /* margin-left: 7vw; */
    }
    .proInputFileUpladIcon {
        position: relative;
        top: 0.6vh;
        color: #9e9c9f;
    }
    .proImgInstruct {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--black);
        text-align: center;
        position: absolute;
        top: 5vh;
        margin-top: 0;
    }
    .proImgBtnMainDiv {
        position: relative;
        margin-bottom: 0vh;
    }
    .proImgInstructDiv {
        display: flex;
        justify-content: center;
    }
    a.proImgSelectFile {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        color: #D44141;
        position: relative;
        bottom: 1vh;
    }
}

/* Media Query for Small Devices */
@media screen and (max-width: 640px) {
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/setupWeb/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 19.5vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        margin-bottom: 3vh;
        color: var(--black);
        width: 80%;
        margin: auto;
    }

    /* Prev/Next Button */
    .skipDiv {
        display: flex;
        justify-content: end;
        margin-right: 4vw;
        margin-top: 5vh;
    }
    button.skipBtn {
        padding: 0 0.5vw;
        border-radius: 50px;
        background-color: transparent;
    }
    .skipTxt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 0 2vw;
        position: relative;
        top: 0.5vh;
    }

    /* Form Styling */
    form.formContain {
        width: 85%;
        margin: 2vh auto 0 auto;
    }

    input[type=text]:not(.browser-default) {
        border-bottom: 2.5px solid var(--primary);
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        height: 2vh;
        padding: 0 1vw;
    }

    [type="radio"]:not(:checked)+span,
    [type="radio"]:checked+span {
        position: relative;
        padding-left: 29px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: var(--black);
    }

    [type="radio"].with-gap:checked+span:after {
        background-color: var(--black);
    }

    [type="radio"]:not(:checked)+span:before,
    [type="radio"]:not(:checked)+span:after,
    [type="radio"].with-gap:checked+span:after,
    [type="radio"]:checked+span:after,
    [type="radio"].with-gap:checked+span:before,
    [type="radio"].with-gap:checked+span:after {
        border: 2px solid var(--black);
    }

    label.radioBtnLabel {
        margin-right: 8vw;
    }
    .file-field.input-field.col {
        margin: 0;
    }
    .milestoneCongratMsg {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        color: #03915C;
        margin-bottom: 0;
    }
    a.btn.viewWebBtn {
        background: #524988;
        padding: 20px 24px;
        line-height: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    .viewWebBtnDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 5vh;
    }

    /* Confirm Image Section */
    .proImgDiv {
        width: 50%;
        height: 30vh;
        border: 9px solid #d9d9d9;
        margin: auto;
    }
    .proImg {
        width: 100%;
        height: 100%;
    }
    .proImgBtnContainDiv {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 2vh auto 0 auto;        
    }
    .proImgYesBtn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        color: var(--black);
    }
    .proInputFileUpladIcon {
        position: relative;
        top: 0.6vh;
        color: #9e9c9f;
    }
    .proImgInstruct {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--black);
        text-align: center;
        position: absolute;
        top: 5vh;
        margin-top: 0;
    }
    .proImgBtnMainDiv {
        position: relative;
        margin-bottom: 4vh;
    }
    .proImgInstructDiv {
        display: flex;
        justify-content: center;
    }
    a.proImgSelectFile {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        color: #D44141;
        position: relative;
        bottom: 1vh;
    }
}