:root {
    --primary: #46166B;
    --secondary: #46166B;
    --black: #000000;
    --white: #ffffff;
    --gray: #a4a2a2;
    --component: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 7px rgba(0,0,0,0.8);*/
    background-color: var(--primary);
    /*border-radius: 8px;*/
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 100px var(--primary);
    background-color: var(--primary);
    /*border-radius: 8px;*/
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    height: 0;
    /* background-color: rgba(0,151,0,1);*/
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: var(--black);
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-track-piece {
    background-color: var(--white);
}

::-webkit-scrollbar-button:horizontal {
    width: 5px;
    /* Select the down or left scroll button when it's being hovered by the mouse */
}

.row .col {
    padding: 0;
}

.primaryColorDiv {
    background-color: var(--primary);
    padding: 3vh 4vw 0 0;
    height: 48vh;
}

.contentDiv {
    background: var(--white);
    background-image: url("../media/img/setupWeb/pageBoldLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 64vh;
    border-radius: 0px 100px 0px 0px;
    position: absolute;
    top: 35.1vh;
    padding-top: 9vh;
}

.headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: right;
    text-transform: uppercase;
    color: var(--white);
    width: 60%;
    margin: 0;
}

.primaryColorDocsImg {
    height: 22.5vh;
}

.contentTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3vh;
    color: var(--black);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Prev/Next Button */
.skipDiv {
    display: flex;
    justify-content: end;
    margin-right: 4vw;
    margin-top: 5vh;
}

button.skipBtn {
    padding: 0 0.1vw;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.skipTxt {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 2vw;
    position: relative;
    top: 0.5vh;
}

/* Form Styling */
form.formContain {
    width: 60%;
    margin: auto;
}

input[type=text]:not(.browser-default) {
    border-bottom: 2.5px solid var(--primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    height: 2vh;
    padding: 0 1vw;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    position: relative;
    padding-left: 29px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--black);
}

label.radioBtnLabel {
    margin-right: 8vw;
}

[type="radio"].with-gap:checked+span:after {
    background-color: var(--black);
}

[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--black);
}

div.bannerImgDiv {
    width: 63%;
    height: 40vh;
    border: 15px solid #d9d9d9;
    margin: auto;
}

img.bannerImg {
    width: 100%;
    height: 100%;
}

p.bannerImgInstruct {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black);
}

.file-path.validate.bannerImgInput {
    border-bottom: none;
}

.file-path.validate.bannerImgInput::placeholder {
    color: #808080;
}

.file-field.input-field.col {
    margin: 0;
}

.material-icons.bannerInputIcon {
    color: #808080;
    margin: 1vh 0 0 0;
}

.milestoneCongratMsg {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: #03915C;
    margin-bottom: 0;
}

a.btn.viewWebBtn {
    background: #524988;
    padding: 20px 24px;
    line-height: 5px;
    font-family: 'Montserrat', sans-serif;
}

.viewWebBtnDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 5vh;
}

.contentTitle1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
}

video.socialMediaHandVidTag {
    width: 100%;
    height: 20vh;
}

.primaryColorDocsImgLarge {
    height: 26vh;
    position: absolute;
    top: 9.1vh;
    left: 4vw;
}
.contentInnerDiv {
    width: 50%;
    margin: auto;
}

/* Media Query for Medium Devices */
@media screen and (max-width: 992px) and (min-width: 640px) {
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/setupWeb/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 22.5vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 3vh;
        color: var(--black);
    }

    /* Prev/Next Button */
    .skipDiv {
        display: flex;
        justify-content: end;
        margin-right: 4vw;
        margin-top: 5vh;
    }
    button.skipBtn {
        padding: 0 0.2vw;
        border-radius: 50px;
        background-color: transparent;
    }
    .skipTxt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 0 2vw;
        position: relative;
        top: 0.5vh;
    }

    /* Form Styling */
    form.formContain, form.formContain1 {
        width: 65%;
        margin: auto;
    }
    input[type=text]:not(.browser-default) {
        border-bottom: 2.5px solid var(--primary);
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        height: 2vh;
        padding: 0 1vw;
    }

    [type="radio"]:not(:checked)+span,
    [type="radio"]:checked+span {
        position: relative;
        padding-left: 29px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: var(--black);
    }

    label.radioBtnLabel {
        margin-right: 8vw;
    }

    [type="radio"].with-gap:checked+span:after {
        background-color: var(--black);
    }

    [type="radio"]:not(:checked)+span:before,
    [type="radio"]:not(:checked)+span:after,
    [type="radio"].with-gap:checked+span:after,
    [type="radio"]:checked+span:after,
    [type="radio"].with-gap:checked+span:before,
    [type="radio"].with-gap:checked+span:after {
        border: 2px solid var(--black);
    }

    div.bannerImgDiv {
        width: 63%;
        height: 40vh;
        border: 15px solid #d9d9d9;
        margin: auto;
    }
    img.bannerImg {
        width: 100%;
        height: 100%;
    }
    p.bannerImgInstruct {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: var(--black);
    }
    .file-path.validate.bannerImgInput {
        border-bottom: none;
    }
    .file-path.validate.bannerImgInput::placeholder {
        color: #808080;
    }
    .file-field.input-field.col {
        margin: 0;
    }
    .material-icons.bannerInputIcon {
        color: #808080;
        margin: 1vh 0 0 0;
    }
    .milestoneCongratMsg {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        color: #03915C;
        margin-bottom: 0;
    }
    a.btn.viewWebBtn {
        background: #524988;
        padding: 20px 24px;
        line-height: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    .viewWebBtnDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 5vh;
    }
    .contentTitle1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: var(--black);
    }
    video.socialMediaHandVidTag {
        width: 100%;
        height: 20vh;
    }

    .wcdMobileLogo {
        width: 10vw;
    }
    .contentInnerDiv {
        width: 80%;
        margin: auto;
    }
}

/* Media Query for Small Devices */
@media screen and (max-width: 640px) {
    .row .col {
        padding: 0;
    }
    .primaryColorDiv {
        background-color: var(--primary);
        padding: 3vh 4vw 0 0;
        height: 48vh;
    }
    .contentDiv {
        background: var(--white);
        background-image: url("../media/img/setupWeb/pageBoldLogo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 64vh;
        border-radius: 0px 100px 0px 0px;
        position: absolute;
        top: 35.1vh;
        padding-top: 9vh;
    }
    .headerDiv {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .headerTitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: right;
        text-transform: uppercase;
        color: var(--white);
        width: 80%;
        margin: 0;
    }
    .primaryColorDocsImg {
        height: 19.5vh;
    }
    .contentTitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 24px;
        text-align: center;
        margin-bottom: 3vh;
        color: var(--black);
        width: 80%;
        margin: auto;
    }

    /* Prev/Next Button */
    .skipDiv {
        display: flex;
        justify-content: end;
        margin-right: 4vw;
        margin-top: 5vh;
    }
    button.skipBtn {
        padding: 0 0.5vw;
        border-radius: 50px;
        background-color: transparent;
    }
    .skipTxt {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-decoration: underline;
        text-transform: uppercase;
        margin: 0 2vw;
        position: relative;
        top: 0.5vh;
    }

    /* Form Styling */
    form.formContain, form.formContain1 {
        width: 85%;
        margin: 2vh auto 0 auto;
    }
    input[type=text]:not(.browser-default) {
        border-bottom: 2.5px solid var(--primary);
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        height: 2vh;
        padding: 0 1vw;
    }

    [type="radio"]:not(:checked)+span,
    [type="radio"]:checked+span {
        position: relative;
        padding-left: 29px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: var(--black);
    }

    label.radioBtnLabel {
        margin-right: 8vw;
    }

    [type="radio"].with-gap:checked+span:after {
        background-color: var(--black);
    }

    [type="radio"]:not(:checked)+span:before,
    [type="radio"]:not(:checked)+span:after,
    [type="radio"].with-gap:checked+span:after,
    [type="radio"]:checked+span:after,
    [type="radio"].with-gap:checked+span:before,
    [type="radio"].with-gap:checked+span:after {
        border: 2px solid var(--black);
    }

    div.bannerImgDiv {
        width: 90%;
        height: 35vh;
        border: 15px solid #d9d9d9;
        margin: auto;
    }
    img.bannerImg {
        width: 100%;
        height: 100%;
    }
    p.bannerImgInstruct {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: var(--black);
    }
    .file-path.validate.bannerImgInput {
        border-bottom: none;
    }
    .file-path.validate.bannerImgInput::placeholder {
        color: #808080;
    }
    .file-field.input-field.col {
        margin: 0;
    }
    .material-icons.bannerInputIcon {
        color: #808080;
        margin: 1vh 0 0 0;
    }
    .milestoneCongratMsg {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
        color: #03915C;
        margin-bottom: 0;
    }
    a.btn.viewWebBtn {
        background: #524988;
        padding: 20px 24px;
        line-height: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    .viewWebBtnDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 5vh;
    }
    .contentTitle1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: var(--black);
    }
    video.socialMediaHandVidTag {
        width: 100%; 
        height: 20vh;
    }

    .contentInnerDiv {
        width: 100%;
        margin: 0;
    }
}